body
{
    background-color:#1148a0;
    font-family: "Cairo";
}
.talalat
{
    color: white;
    font-size: 15px;
    border: solid 5px #20498c;
    background-color: #20498c;
    border-radius: 5%;
    width: 10%;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    font-family: "Cairo";
}
.le
{
    width: 97%;
    background-color:  #3860a0;
    color: white;
    font-size: 30px;
    height: auto;
    margin: 10px 15px 10px 15px;
     margin-top: 20px;
    margin-left: 10px;
    margin-right: 15px;
    padding: 18px 10px;
    border-radius: 10px;
    display: inline-block;
        
}
.in
{
    display: inline-block;
    height: 50px;
    width: 42%;
    background-color: #0b244c;
    color: white;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: "Cairo";
    border-radius: 10px;
    font-family: "Cairo";
    vertical-align: top;
    
}
.nagy
{
    margin: 0 auto;
    font-family: "Cairo";
}
.szunet
{
    height: 10px;
    width: 90%;
    background-color: white;
    margin: 0 auto;
   margin-top: 20px;
}
.kep
{
    display: inline-block;
    height: 50px;
    vertical-align: top;
    margin-top: 15px;
    margin-bottom: 15px;
}

