*{box-sizing: border-box; padding: 10px; vertical-align: top;}
html, body 
{
 width: 100%;
 height: 100%;
 margin: :0;
 font-size: 0px;
}
#ceg
{    
    max-height:300px;
    max-width: 600px;
    padding: 0;
}
#logo
{
    font-size: 100px;
}
background-origin: ;
.col_5_5
{
    width: 100%;
    padding: 0;
}
.col_4_5
{
    width: 80%;
}
.col_3_5
{
    width: 60%;
}
.col_2_5
{
    width: 40%;
}
.col_1_5
{
    width: 20%;
}
.oszlop
{
    display: inline-block;
    font-size: 20px;
    border: 1px solid lightblue;
}
@media screen and (max-width:529px)
{
    .oszlop
    {
        font-size: 15px;
    }
/*
    .col_1_5
    {
        width:100%;
        display: block;
    }
*/
    #menukeret div
    {
        width: 100%;
        display: block;
    }
}
@media screen and (max-width:400px)
{
    #cikk
    {
        width: 100%;
        display: block;
        background-color: darkcyan;
    }
    #ajanlo
    {
        width: 100%;
        display: block;
        background-color: darkcyan;
    }
    #logo
    {
        display: none;
    }
    .kiskepek img
    {
        width: 100%;
    }
    #ceg
    {
        width: 100%;
        max-width: 100%;
    }
}