body
{
    background: url("szep2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial";
}
.kiskepnagy img
{
    width: 100%;
    height: 100%;
}
.kiskepnagy
{
    height: 50%;
    width: 89%;
    margin: 2% 0 0 3%;
    padding: 0 0 0 1%;
}
.kiskepek img
{
    width: 100%;
    height: 100%;
}
.kiskepek
{
    display: inline-block;
    width: 25%;
    max-height: 200px;
    overflow: hidden;
    margin: 1% 2.5% 1% 4% ;
}