.orarend
{
    width: 50%;
    float: inherit;
    height: auto;
    margin: auto 27%;
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
}
.orak
{
    width: 50%;
    float: inherit;
    height: auto;
    margin: auto 27%;
    text-align: center;
    font-size: 25px;
    border: solid 5px gray;
}